<!DOCTYPE html>
<html data-layout-decorator="layout">
<body>
	<div data-layout-fragment="content">
		<section class="content dashboard">
            <!-- Dashboard Heading -->
             <div>
	             <div class="page-heading">
	                <h1 data-th-text="#{areaTrabajo.titulo}"></h1>
	            </div>
             </div>
            <div class="dashboard-heading">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <h1 data-th-text="#{areaTrabajo.titulo}">
                        </h1>
                        <h4 data-th-text="#{areaTrabajo.descripcion}"></h4>
                    </div>
                </div>
            </div>
            <!-- #END# Dashboard Heading -->
			
            <div class="page-body">
			</div>
        </section>
	</div>
</body>
</html>